body{
    font-weight: bold;
}

.container {
    height: 12em;
    background-color: #4ea0ff;
    background-image: url(../img/pattern.png);
    background-size: contain;
}
 
.logo {
    width: 25em;
    padding-top: 6em;
}

h1 {
    margin: 0px;
    font-size: 4em;
}

.font-gray {
    color: gray;
}

.editor {
    font-size: 2rem;
}

.font-blue {
    color: #4ea0ff;
}

.pictures {
    margin-top: 2rem;
}

.caption {
    font-size: 12px;
}

table{
    border: none;
    border-collapse: collapse;
}

thead {
    background-color: #4ea0ff;
    color: white;
}
tr {
    text-align: center;
}

.blue-row{
    background-color:rgb(162, 238, 238) ;
}


.third-col {
    text-align: left;
    width: 50%;
}

.box-img{
    background-repeat: no-repeat;
    background-size: contain;
    height: 10em;
    color: white;
}

.first-img {
    background-image: url(../img/monitor.jpg);
}

.second-img {
    background-image: url(../img/graph.jpg);
}